%html
  %head
    <link rel="stylesheet" type="text/css" href="../template/960.css" />
    <link rel="stylesheet" type="text/css" href="../template/style.css" />
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8" }
  %body

    .container_16
      .grid_5.prefix_12
        %h1
          INVOICE
        #date
          = "##{invoice_number}"
          • 
          = date
      .grid_9
        #from
          from:
        #name
          = name
        #contact
          = contact 
      .grid_7
        #to
          to:
        #name
          = client_name 
        #contact
          = client_contact

      .grid_16
        %br/
        %br/
        #time_period
          from 
          %b= start_date
          to
          %b= end_date
      #desc-title.grid_12
        %br/
        Description
      #quantity-title.grid_2
        %br/
        Quantity

      -# oh wow I forgot how lame this code was. This is an artifact from
      -# before this was object oriented. Oops.

      - days.each do |day|
        .grid_16
          %br/
          #day
            = day.date.strftime "%B %d"
        - day.tickets.each do |ticket|
          .grid_9
            #desc
              = ticket.description
          .grid_7
            #time
              = ticket.hours
        
      -# better off with a partial, oh well
      -# ALSO LAME: Man I should not be doing any calcs in the view.
      -# Oh well for now. TODO: FIX
      - if discount_exists
        #total.grid_12
          .text
            Total:
            %br/
            ="Units at $#{discount_unit_rate}:"
            %br/
            ="Units at $#{unit_rate}:"
            %br/
            Total cost:

        #total.grid_2
          .price
            = total_seconds/3600.0
            %br/
            = "#{discount_seconds/3600.0}"
            %br/
            = "#{regular_priced_seconds/3600.0}"
            %br/
            = "$#{total_cost/3600.0}"
      - else
        #total.grid_12
          .text
            Total:
            %br/
            ="Units at $#{unit_rate}:"
            %br/
            ="#{vat_name}:"
            %br/
            Total cost:

        #total.grid_2
          .price
            = total_hours
            %br/
            = "$#{pre_vat_cost}"
            %br/
            = "$#{vat_cost}"
            %br/
            = "$#{total_cost}"


